<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="HelloWorldMenu.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="HelloWorldMenu.commands.category"
            name="Sample Command"
            id="HelloWorldMenu.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="helloworldmenu.handlers.SampleHandler"
            commandId="HelloWorldMenu.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="HelloWorldMenu.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="HelloWorldMenu.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="HelloWorldMenu.commands.sampleCommand"
                  id="HelloWorldMenu.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="HelloWorldMenu.toolbars.sampleToolbar">
            <command
                  id="HelloWorldMenu.toolbars.sampleCommand"
                  commandId="HelloWorldMenu.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="helloworldmenu"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="HelloWorldMenu.product">
         <property
               name="appName"
               value="HelloWorldMenu.product">
         </property>
      </product>
   </extension>

</plugin>
